---
import "../sass/main.scss";
import Button from "../components/ui/Button.astro";
import LinkIcon from "./ui/LinkIcon.astro";
---

<header class="header pb-4">
  <div class="container">
    <div class="header__wrapper">
      <h1 class="heading-3">
        <a href="/">Where in the world?</a>
      </h1>

      <Button
        id="mode-button"
        className="has-icon"
        style="muted"
        aria-pressed="false"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M9.353 3C5.849 4.408 3 7.463 3 11.47A9.53 9.53 0 0 0 12.53 21c4.007 0 7.062-2.849 8.47-6.353C8.17 17.065 8.14 8.14 9.353 3z"
          ></path></svg
        >
        <span>Dark mode</span>
      </Button>

      <LinkIcon
        href="https://github.com/"
        className="icon-github"
        label="Go to Github page"
      >
        <svg
          width="30px"
          height="30px"
          viewBox="0 0 20 20"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          fill="currentColor"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>

          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g>

          <g id="SVGRepo_iconCarrier">
            <title>github [#142]</title>
            <desc>Created with Sketch.</desc>
            <defs> </defs>
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="Dribbble-Light-Preview"
                transform="translate(-140.000000, -7559.000000)"
                fill="currentColor"
              >
                <g id="icons" transform="translate(56.000000, 160.000000)">
                  <path
                    d="M94,7399 C99.523,7399 104,7403.59 104,7409.253 C104,7413.782 101.138,7417.624 97.167,7418.981 C96.66,7419.082 96.48,7418.762 96.48,7418.489 C96.48,7418.151 96.492,7417.047 96.492,7415.675 C96.492,7414.719 96.172,7414.095 95.813,7413.777 C98.04,7413.523 100.38,7412.656 100.38,7408.718 C100.38,7407.598 99.992,7406.684 99.35,7405.966 C99.454,7405.707 99.797,7404.664 99.252,7403.252 C99.252,7403.252 98.414,7402.977 96.505,7404.303 C95.706,7404.076 94.85,7403.962 94,7403.958 C93.15,7403.962 92.295,7404.076 91.497,7404.303 C89.586,7402.977 88.746,7403.252 88.746,7403.252 C88.203,7404.664 88.546,7405.707 88.649,7405.966 C88.01,7406.684 87.619,7407.598 87.619,7408.718 C87.619,7412.646 89.954,7413.526 92.175,7413.785 C91.889,7414.041 91.63,7414.493 91.54,7415.156 C90.97,7415.418 89.522,7415.871 88.63,7414.304 C88.63,7414.304 88.101,7413.319 87.097,7413.247 C87.097,7413.247 86.122,7413.234 87.029,7413.87 C87.029,7413.87 87.684,7414.185 88.139,7415.37 C88.139,7415.37 88.726,7417.2 91.508,7416.58 C91.513,7417.437 91.522,7418.245 91.522,7418.489 C91.522,7418.76 91.338,7419.077 90.839,7418.982 C86.865,7417.627 84,7413.783 84,7409.253 C84,7403.59 88.478,7399 94,7399"
                    id="github-[#142]"
                  >
                  </path>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </LinkIcon>
    </div>
  </div>
</header>

<script>
  // Elements
  const modeButton = document.getElementById("mode-button");
  const html = document.documentElement;
  const darkmodeIcon = `<path fill="currentColor" d="M9.353 3C5.849 4.408 3 7.463 3 11.47A9.53 9.53 0 0 0 12.53 21c4.007 0 7.062-2.849 8.47-6.353C8.17 17.065 8.14 8.14 9.353 3z"></path>`;
  const lightmodeIcon = `<path fill-rule="evenodd" clip-rule="evenodd" d="M13 3a1 1 0 1 0-2 0v1a1 1 0 1 0 2 0V3zM5.707 4.293a1 1 0 0 0-1.414 1.414l1 1a1 1 0 0 0 1.414-1.414l-1-1zm14 0a1 1 0 0 0-1.414 0l-1 1a1 1 0 0 0 1.414 1.414l1-1a1 1 0 0 0 0-1.414zM12 7a5 5 0 1 0 0 10 5 5 0 0 0 0-10zm-9 4a1 1 0 1 0 0 2h1a1 1 0 1 0 0-2H3zm17 0a1 1 0 1 0 0 2h1a1 1 0 1 0 0-2h-1zM6.707 18.707a1 1 0 1 0-1.414-1.414l-1 1a1 1 0 1 0 1.414 1.414l1-1zm12-1.414a1 1 0 0 0-1.414 1.414l1 1a1 1 0 0 0 1.414-1.414l-1-1zM13 20a1 1 0 1 0-2 0v1a1 1 0 1 0 2 0v-1z" fill="currentColor"/>`;

  // Functions
  const darkmodeSettings = () => {
    // setting icon for mode button
    modeButton.querySelector("svg").innerHTML = darkmodeIcon;
    // setting text for mode button
    modeButton.querySelector("span").textContent = "Dark mode";
    // setting aria-pressed for mode button
    modeButton.setAttribute("aria-pressed", false);
  };

  const lightmodeSettings = () => {
    // setting icon for mode button
    modeButton.querySelector("svg").innerHTML = lightmodeIcon;
    // setting text for mode button
    modeButton.querySelector("span").textContent = "Light mode";
    // setting aria-pressed for mode button
    modeButton.setAttribute("aria-pressed", true);
  };

  // Executions
  modeButton.addEventListener("click", (e) => {
    const modeAttribut = html.getAttribute("data-mode");
    if (modeAttribut === "light") {
      html.setAttribute("data-mode", "dark");
      lightmodeSettings();
    } else {
      html.setAttribute("data-mode", "light");
      darkmodeSettings();
    }
  });
</script>
